body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.page-header .logo {
  width: 80px;
}
.page-header .header-nav li {
  padding: 0 15px;
}
.page-header .header-actions li {
  padding: 0 8px;
}
.page-main {
  min-height: 80vh;
  position: relative;
}
.page-main .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page-main .react-logo {
  width: 300px;
}
.page-footer {
  padding: 20px 0;
  background: #f1f1f1;
}
.btn-block {
  padding: 15px;
}
.navigate-block {
  margin-bottom: 50px;
}
.navigate-block .navigate-item {
  padding: 25px 15px;
}
.btn {
  margin-bottom: 10px;
}
.color-label {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin-right: 10px;
}
